@{
    ViewBag.Title = "MVCalculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <div class="">
        @using (Html.BeginForm())
        {
            <div class="container col-md-3 ml-md-auto myform">
                <h4>Простой калькулятор на MVC</h4>
                <h6>Дробные числа вводятся через запятую</h6>
                <div class="row">
                    <div class="col-4 mytext-align">
                        Первое число
                    </div>
                    <div class="col-8">
                        <input type="text" name="fst" class="form-control" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-4 mytext-align">
                        Действие
                    </div>
                    <div class="col-8">
                        <select name="operation" class="custom-select">
                            <option>+</option>
                            <option>-</option>
                            <option>*</option>
                            <option>/</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mytext-align">
                        Второе число
                    </div>
                    <div class="col-8">
                        <input type="text" name="sec" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <p class="col-4">
                        <input type="submit" class="btn btn-outline-primary " value="Расчитать" />
                    </p>
                    <div class="col-8 mytext-align">
                        Результат: @ViewBag.Result

                    </div>
                </div>
                @if (ViewBag.history.Count >0)
                {
                    <p>История операций:</p>
                    foreach (var h in ViewBag.history)
                    {
                        <p>@h.a @h.oper @h.b = @h.res</p>
                    }
                }
            </div>


        }
    </div>
</body>